DATABASE_URL="postgresql://user:password@host:5432/dbname"
DIRECT_URL="postgresql://user:password@host:5432/dbname"

JWT_SECRET="cambiar-esto-por-un-string-largo-y-aleatorio"

INIT_ADMIN_EMAIL="admin@tutienda.com"
INIT_ADMIN_PASS="cambiar-estPassword"

INIT_SECRET="cambiar-esto-por-un-secret-largo"

CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key"
CLOUDINARY_API_SECRET="tu_api_secret"

RESEND_API_KEY="re_xxxxxxxxxxxxxxxx" # para el envío de códigos OTP por email
RESEND_FROM="onboarding@resend.dev" # remitente verificado en Resend
